<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="edu.rit.taskers.model.Actionable" />
        <mapping class="edu.rit.taskers.model.Comment" />
        <mapping class="edu.rit.taskers.model.Contact" />

        <mapping class="edu.rit.taskers.model.User" />
        <mapping class="edu.rit.taskers.model.Task" />
        <mapping class="edu.rit.taskers.model.Event" />
        <mapping class="edu.rit.taskers.model.Space" />
    </session-factory>
</hibernate-configuration>